/*
Theme Name: Expand Jr
Theme URI: https://injunior.com.br/
Author: Equipe 5
Author URI: https://injunior.com.br/
Description: Tema do projeto para o site Expand Jr
*/

/*Sections cases e partners*/



body{
    width: 100%;
}

.successful-cases{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
    gap: 30px;
    width: 100%;

    background-color: white;
    color: #0076C1;
    font-family: Roboto;
}

.successful-cases h2, .partners-section h2{
    font-size: 2rem;
    font-weight: 600;
    color: #0076C1;
    font-family: 'Inter';
}

/* .container-cases {
    overflow: hidden;
}
  .cases {
    display: flex;
    width: 400%;
    transition: transform 0.5s ease-in-out;
}
  .case {
    width: 25%;
} */

.cases-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrossel-button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.container-cases{ 
    display: flex;
    align-items: center;
    width: 70vw;
    position: relative;
    overflow: hidden;
}

.cases{
    display: flex;
    width: auto;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
}

.case{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 70vw;
} 

.case-text{
    font-family: 'Inter';
    font-size: 1.3em;
    line-height: 1.5; 
    font-weight: 400;
    text-align: center;
}

.feedback-author{
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.feedback-author p{
    font-weight: 600;
    font-size: 14px;
}

.feedback-author img{
    width: 57px;
    height: 57px;
    border-radius: 50px;
}

.cases-dots{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.case-dot, .partner-dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #a8a3a3;
    cursor: pointer;
}

.dot-active{
    background-color: black;
}
.partners-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
    gap: 30px;
    width: 100%;
    background-color: rgb(233, 234, 236);
}

.container-and-buttons{
    display: flex;
}

.partners-container{
    display: flex;
    align-items: center;
    width: 1050px;
    position: relative;
    overflow: hidden;
    
}

.partners{
    display: flex;
    gap: 150px;
    width: auto;
    /* margin-left: -300px; */
    
    transition: all 0.5s;
}

.partner{
    width: 150px;
}

.partners-dots {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.partner-dot{
    display: none;
}

.container-modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: #00000070;
}

.modal-conteiner{
    /* position: fixed; */
    width: 1040px;
    height: 550px;
    /* left: 35%;
    top: 30%; */
    background: #D9D9D9;
    border-radius: 54px;
    display: none;
    }

 .modal-conteiner.mostrar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


 }  
 
 .mostrar .modal{
     animation: modal .3s

 }

.modal-x{
    /* position: absolute; */
    right: 4.59%;
    top: 3.29%;
    bottom: 94.24%;
    background: transparent;
    color: #000000;
    font-size: 24px;
    border: none;
    margin-right: 20px;
    align-self: flex-end;
}

.modal-x:hover{
    cursor: pointer;
}

.modal-imagens{
    display: flex;
    align-items: center;
    background: transparent;
    width: 200px;
    height: 200px;
}

.modal-titulo {
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
color: #0076C1;;
align-items: center;
line-height: 60px;
margin-top: 2%;

}

.modal-descricao{
    width: 90%;
    /* height: 186px; */
    left: 50px;
    top: 318px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
    color: #000000;
    margin-top: 2%;

}

.modal-botao{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 64px;
    width: 350.5px;
    border-radius: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 24px;
    background: #0076C1;
}

.modal-botao:hover{
    background: #045586;
}

@media (max-width: 1300px)
{
    .partners-container{
        width: 750px; 
    }
}

@media (max-width: 1200px){
    .modal-conteiner{
        width: 800px;
        height: 500px;
    }

    .modal-imagens{
        width: 150px;
        height: 150px;
    }

    .modal-titulo{
        font-size: 25px;
    }

    .modal-descricao{
        font-size: 20px;
    }
}


@media (max-width: 1000px)
{
    .partners-container{
        width: 450px; 
    }
}

@media (max-width: 900px){
    .modal-conteiner{
        width: 600px;
        height: 450px;
    }

    .modal-imagens{
        width: 100px;
        height: 100px;
    }

    .modal-titulo {
        font-size: 20px;
    }

    .modal-descricao{
        width: 80%;
        font-size: 16px;
    }

    .modal-botao{
        height: 40px;
        width: 200px;
        font-size: 16px;
    }
}

@media (max-width: 670px){
    .modal-conteiner{
        width: 350px;
        height: 300px;
    }

    .modal-imagens{
        width: 50px;
        height: 50px;
    }

    .modal-titulo {
        font-size: 14px;
        line-height: 1;
    }

    .modal-descricao{
        width: 80%;
        font-size: 10px;
        line-height: 1;
    }

    .modal-botao{
        height: 30px;
        width: 150px;
        font-size: 10px;
    }
}

@media (max-width: 600px)
{
    .partners-container{
        width: 150px; 
    }
}

@media (max-width: 500px){
  .prev-case img{
    width: 30px;
  }
  .next-case img{
    width: 30px;
  }
}
