footer {
  width: 100%;
  background-color: #0076C1;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.caixa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}


.superior {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  width: 80%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  /* height: 200px; */
}


.coluna {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  color: #E6E8F4;
  gap: 30px;
}

.wpp-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

.wpp-list span{
  display: none;
}

.wpp-list li{
  margin: 0;
}

.recent-posts{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

.recent-posts a{
  text-decoration: none;
}

/* .recent-posts a:hover{
  color: #bdb9b9;
} */

.superior div:nth-child(3){
  height: auto;
}

.links{
  display: flex;
  flex-direction: column;
  height: 70%;
  gap: 10px;
}


.superior a {
  font-family: 'Roboto';
  font-style: normal;
  /* /* font-size: 1.1rem; */
  line-height: 139%; 
  color: #E6E8F4;
  font-size: 18px;
}

.superior a:hover{
  color: #bdb9b9;
}


.coluna h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 125%;
  color: #E6E8F4;
}

.inferior {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  width: 80%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inferior1 {
  display: flex;
  flex-direction: column;
}

.inferior h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 3.0rem;
  color: #E6E8F4;
  text-align: center;
}

.inferior1 p {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 1.0rem;
  text-align: center;
  padding-top: 3%;
  color: #e6e8f4;

}

.campo-email {
  display: flex;
  flex-direction: column;

}

.campo-email p{

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FAFAFA


}

.campo-email input[type="email"] {
  width: 80%; 
  
}


.checkbox {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 0.9rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  color: #FAFAFA;
}

.checkbox a{
  color: #FAFAFA;
}


button[type="submit"] {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  background: #222121;
  color: #FFFFFF;
  border: none;
  cursor: pointer; 
  margin-bottom: 5%;
}

button[type="submit"]:hover{
    background-color: #504f4f;
}


.contato{
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  font-style: normal;
  align-items: center;
  color: #E6E8F4;
  font-size: 1rem;

}
.redessociais{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6%;
  gap: 30px;

}

.redessociais a{
  display: flex;
  align-items: center;

}



.final{
  
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1%;
  background: #000000;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 25px;
  color: #FAFAFA;
}

@media(max-width:830px){
  .inferior{
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .campo-email {
    align-items: center;
  }

  .campo-email form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width:627px){
  .superior {
    flex-direction: column;
    gap: 50px;
  }
}