header {
    width: 100%;
    background-color: rgb(233, 234, 236);
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
  }

  .navegacao-tradutor{
      display: flex;
      justify-content: space-between;
      width: 40%;
  }
  
  .logo {
    height: 100%;
    margin-top: 1%;
  }
  
 
  .logo img {
    width: 200px;
  }

  /* .logo a{
    width: 20%;

  } */
  
 
  .navegacao{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .link-navegacao {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5rem;
    color: #000000;
    text-decoration: none;
  }

  .link-navegacao:hover{
      color: #0693e3;
  }

  /* .hamburger{
    z-index: 100;
    padding: 4px;
    border: none;
    cursor: pointer;
    display: none;
  }

  .hamburger img{
    height: 20px;
    width: 20px;
  }

  .showMenu {
    transform: translateY(0);
  }

  .closeIcon{
    display: none;
  } */

  .container-menu-icon {
    display: none;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .menu-options{
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: rgb(233, 234, 236);
    gap: 10px;
    padding: 10px 5px 10px 10px;
    width: 164px;
    margin-left: -136px;

  }

  .tradutor-menu{
    font-family: 'Inter';
  }

  .changeMenu{
    display: flex;
  }

  .tradutor{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .gtranslate_wrapper a{
        text-decoration: none;
        color: #0693e3;
        font-family: 'Inter';
  }

  .gtranslate_wrapper a:hover{
        color: black;
  }

  @media (max-width:860px){
    /* .hamburger{
      display: inherit;
    } */

    header{
      justify-content: space-between;
    }

    .navegacao-tradutor{
      margin-right: 1%;
    }

    .container-menu-icon {
      display: inline-block;
    }

    .navegacao-tradutor {
      display: flex;
      justify-content: flex-end;
      width: auto;
    }

    .tradutor{
      display: none;
    }

    .navegacao{
      position: inherit;
      flex-direction: column;
      flex-wrap: nowrap;
      display: none;
      background-color: #FFF;
    }
  }

  @media (max-width: 800px){
    .navegacao-tradutor{
        justify-content: space-between;
    }
  }