.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    padding-bottom: 50px;


    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: grey;
    background-blend-mode: multiply;
}

.titulo{
    color: #FFFFFF;
    font-family: "Inter", Sans-serif;
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 100px;

  }

.subtitulo{
    color: #FFFFFF;
    font-family: "Inter", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 70px;
}

#form-button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    fill: #333652;
    color: #333652;
    background-color: #FFFFFF;
    border-radius: 40px 40px 40px 40px;
    font-size: 20px;
    padding: 25px 50px;
    box-shadow: none;
    text-decoration: none;
  }

.showcase{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px 0px;
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color:#0076C1;
  gap: 100px;
  }

.showcase h3{
  font-weight: 500;
}

#servicos{
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-self: stretch;
  row-gap: 25px;
}

#para-voce{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
width: 530px;
gap: 50px;
}

#para-empresa{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  width: 560px;
  gap: 50px;
}

.linha{
display: flex;
justify-content: space-between;
align-items: flex-end;
text-align: center;
align-self: stretch;
}

#linha-vertical{
  border: 2px solid #0076C1;
  border-radius: 20px;

}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.card img{
  max-width: 150px;
  transition: transform 0.25s;
}

#servicos .card:hover{
transform:scale(1.2);
cursor: pointer;
}

#showcase-resultados{
  background-color: rgb(233, 234, 236);
}

#showcase-resultados{
  font-family: 'Inter';
  font-weight: 600;
}

#resultados{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: stretch;
}
.contador{
  font-size: 69px;
  font-weight: 600;
  line-height: 1;
  margin: 15px 0px;
}

#resultados h3{
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-weight: 500;
  text-align: center;

}

@media(max-width:1200px){
  #linha-vertical{
    height: 0;
    width: 75%;
    border: 2px solid #0076C1;
    border-radius: 20px;

  }

  #para-empresa{
    width: 60%;
  }

  h3{
    font-size: 25px;
  }

}

@media(max-width:1000px){
  #para-empresa{
    width: 80%;
  }
  .linha{
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  #resultados{
    flex-direction: column;
    gap: 50px;
  }
}

@media(max-width:500px){
  .titulo{
    font-size: 70px;
  }
  .subtitulo{
    font-size: 26px;
  }
}

@media(max-width:350px){
  .titulo{
    font-size: 50px;
  }
  .subtitulo{
    font-size: 18px;
  }

  #form-button{
    padding: 15px 40px;
  }
}
