.main-blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

/* Section da vitrine */
#vitrine-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height:50vh;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: grey;
    background-blend-mode: multiply;

    font-family: 'Inter';

}

#vitrine-blog h1{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
}

#vitrine-blog p{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0em;
    
}

/* div noticias e busca */
.results{
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 400;
}

.blog-search{
    width: 90vw;
    display: flex;
    justify-content: space-between;
}

/* section noticias */
.posts-section{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 50px;
}

.front-post{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 30px;
    font-family: 'Roboto';
}

.post-image{
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.post-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 50%;
    text-align: justify;
}

.post-title{
    font-size: 25px;
    font-weight: 700;
}

.category-post a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.post-abstract{
    font-size: 15px;
    line-height: 19px;
}

.page-post-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #0693e3;
    width: 117px;
    height: 25px;
    text-decoration: none;
    color: white;
}

/* section busca */

.search-section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
    height: 100%;
}

.search-bar{
    background-image: url("../images/icone-busca.png");
    background-repeat: no-repeat;
    background-position: 170px;
    border: 0.5px solid black;

    padding-left: 10px;
    padding-right: 5px;

    font-family: 'Inter';
    line-height: 1.7;
}

.category-filter{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    font-family: 'Inter';
}

.category-filter h3{ 
    margin-top: 20px;
    margin-bottom: 10px; 
    font-size: 25px;
    font-weight: 700;
}

.category-search{
    display: flex;
    gap: 5px;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.category-search:hover{
    color: #0076C1;
}

/* div paginação */

.pagination a{
    text-decoration: none;
    color: black;
}

@media (max-width: 1000px){
    .front-post{
        flex-direction: column;
        gap: 10px;
    }
    .post-info{
        width: 100%;
        gap: 10px;
        text-align: justify;
    }
}

@media (max-width: 670px){
    .blog-search{
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
    }

    .search-section{
        width: 70%;
        align-items: flex-start;
    }

    .category-filter{
        align-items: flex-start;
    }

    .category-search{
        flex-direction: row-reverse;
    }

    .post-image{
        width: 200px;
        height: 150px;
    }
}

@media (max-width: 320px){
    .search-bar{
        width: 160px;
        background-position: 150px;
    }

    .post-image{
        width: 150px;
        height: 100px;
    }
}