.main-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}
/* Section Vitrine */

#vitrine{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height:50vh;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: grey;
    background-blend-mode: multiply;

    font-family: 'Inter';

}

#vitrine h1{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
}

#vitrine p{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0em;
    
}

/* Section Jornada */

.journey{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.journey h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 25px; 
    color: #0076C1;
}

.journey-steps{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.journey-steps h3{
    display: flex;
    justify-content: center;
    width: 25%;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 700;
    color: #0076C1;
}

.steps-buttons{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.step-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    background-color: rgb(0, 118, 193);
 
}

.step-left{
    background: linear-gradient(to right, transparent 0%, transparent 50%, rgb(0, 118, 193) 51%, rgb(0, 118, 193) 100%);
}

.step-right{
    background: linear-gradient(to left, transparent 0%, transparent 50%, rgb(0, 118, 193) 51%, rgb(0, 118, 193) 100%);
}

.outer-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgb(0, 118, 193);
    
}

.inner-circle{
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background-color: rgb(7, 94, 148);
    cursor: pointer;
}

.step-active{
    background-color: rgb(3, 57, 90);
}

.steps-info{
    width: 90%;
    line-height: 1.5;  
}

.steps-info p{
    display: none;
    text-align: justify;
    font-family: 'Roboto';
    font-weight: 400;
}

/*Div info e form*/

.info-and-form{
    display: flex;
    width: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Section Informações*/
.info-contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info-contact h2{
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: left;
    color: #0076C1;
    
}
.info{
    display: flex;
    align-items: center;
    gap: 5px;
}

.info img{
 width: 40px;
}
.info p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    
}

iframe{
    margin-top: 10px;
}

/*Section Formulário*/

.form-contact{
    border-radius: 25px;
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: 500px;
}

.form-contact main{
    overflow-y: scroll;
    height: 90%;
}

.form-contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-contact form h2{
    font-family: 'Roboto';
    font-weight: 700;
}

.form-contact form p{
    width: 100%;
}

.form-contact label{
    line-height: 25px;
    font-family: 'Roboto';
    font-weight: 700;
}

.form-title{
    line-height: 57px;
    font-size: 20px;
    text-align: center;
    color: #0076C1;
    font-family: 'Roboto';
}

.form-contact input{
    background-color: rgb(217, 217, 217);
    border: 1px solid black;
    border-radius: 50px;
    line-height: 2;
}

.form-message{
    resize: none;
    background-color: rgb(217, 217, 217);
    border-radius: 15px;
    border: 1px solid black;
    line-height: 1.5;
}

.form-radio-buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-radio-buttons span{
    font-family: 'Roboto';
    font-weight: 400;
}

.form-submit-button{
    cursor: pointer;
    width: 70px;
    font-family: 'Roboto';
    font-weight: 700;
}

.form-contact form p:nth-last-child(2){
    width: 20%;
}

.form-contact form p:nth-last-child(2) input{
    background-color: rgb(0, 118, 193);
    color: white;
}

@media (max-width: 1200px){

    .info-and-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        width: 80%;
    }
}

@media (max-width: 800px){
    .journey-steps h3{
        font-size: 15px;
    }
}

@media (max-width: 560px){
    .journey-steps h3{
        font-size: 12px;
    }

    .info p{
        line-height: 1;
    }
    iframe{
        width: 300px;
        height: 225px;
        align-self: center;
    }
}

@media (max-width: 450px){
    .form-contact form{
        width: 90%;
    }

    .form-contact input, .form-contact textarea{
        width: 100%;
    }

    .form-contact form p:nth-last-child(2) input {
        width: 70px;
        text-align: center;
    }

    /* .wpcf7-list-item{
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 30px;
    } */
}

@media (max-width: 401px){
    .journey-steps{
        width: 100%;
    }

    .journey-steps h3{
        text-align: center;
    }
}

@media (max-width: 370px){
    .info p{
        font-size: 16px;
    }

    iframe{
        width: 200px;
        height: 150px;
        align-self: center;
    }

    .journey h2{
        text-align: center;
        width: 90%;
    }
}

@media (max-width: 302px){
    .form-title{
        line-height: 1.5;
        /* font-size: 16px; */
    }
}