.quemsomosvitrine{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height:50vh;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: grey;
    background-blend-mode: multiply;
  
    font-family: 'Inter';
  
  }
  
  .quemsomosvitrine h1{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
  }
  
  .quemsomosvitrine p{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0em;
    
  }
  
  .quemsomosmain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: justify;
  }
  
  .container {
    position: relative;
    max-width: 1247px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .container .card{
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
  }
/*   
  .container .card .imgBx {
    max-width: 583px;
    max-height: 371px;
    flex: 0 0 583px;
  } */
  /* .container .card .imgBx img{
    width: 583px;
    height: 371px;
  } */

  
  .imgBx{
    width: 581px;
    height: 371px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2, h3{
  color: #0076C1;
}
  
  .container .card .content{
    margin-left: 20px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: justify;
    width: 47%;
  
  }
  
  .container .card .content h2{
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    
  }
  
  
  .container .card-sec{
    position: relative;
    max-width: 568px;
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .container .card-sec .imgBx-sec {
    width: 250px;
    height: 250px;
    /* flex: 0 0 250px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  /* .container .card-sec .imgBx-sec img{
    width: 100%;
    height: 100%;
  } */
  
  .container .card-sec .content{
    margin-left: 20px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    width: 47%;
    
  }
  
  @media(max-width: 1250px){
  
    .container{
      flex-direction: column;
    }
    .container .card{
      flex-direction: column;
    }
  
    .container .card .content{
      text-align: center;
    }
    .container .card .content h2{
      text-align: center;
    }
  
    .container .card-sec{
      justify-content: center;
    }
  
  }
  
  @media(max-width:620px){
    .container .card-sec{
      flex-direction: column;
      align-items: center;
    }
  
    .container .card-sec .content{
      text-align: center;
    }
  }
  
  
  .valores{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 15px;
    margin-bottom: 25px;
  }
  
  .valoresTitulo{
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: center;
  
  }
  
  .valoresComponentes img{
  
    height: 100px;
    width: 100px;
  
  
  }
  
  
  .valoresComponentes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: stretch;
    text-align: center;
    align-content: center;
    justify-content: space-around;
    gap: 30px;
  
  }
  
  .valoresComponentes div{
    /* height: 280px; */
    width: 372px;
    text-align: center;
    word-wrap: break-word;
  }
  
  .valoresComponentes h3{
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: center;
    
  }

@media (max-width: 1250px){
    .container .card .content{
        width: 90%;
        margin: 0;
      
      }

      /* .container .card-sec .content{
        width: 90%;
      }*/
} 
  
@media(max-width: 630px){
  .container .card-sec{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .imgBx, .imgBx-sec{
      width: 400px;
      height: 256px;
  } 

  .container .card-sec .imgBx-sec{
    width: 170px;
    height: 170px;
  }
  .container .card-sec .content{
    width: 90%;
    margin: 0;
  }

}

@media(max-width: 430px){
  .valoresComponentes div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .imgBx, .imgBx-sec{
    width: 250px;
    height: 180px;
  }

  .valoresComponentes p{
    width: 80%;
  }
} 

@media(max-width: 400px){
  .valoresComponentes img {
    height: 70px;
    width: 70px;
  }

  h2, .valoresComponentes h3{
    font-size: 25px;
  }
}

@media(max-width: 350px){
  .imgBx, .imgBx-sec{
    width: 200px;
    height: 150px;
  }

  .container .card .content h2{
    font-size: 25px;
  }
}